In [ ]:
import tweepy           
import pandas as pd     
import numpy as np

In [ ]:
import preprocessor as p
import re

#from preprocessor.api import clean, tokenize, parse

In [29]:
raw_data = pd.read_csv('data/raw/extracted_data.csv', nrows=100000)

In [30]:
raw_data.head()

,user_id,tweet_created_time,tweet_text,tweet_length,user_created_at,user_followers_count,user_friends_count,twitter_source,tweet_likes,tweet_retweets
0,1246172809295880192,2020-04-03 20:28:45,"b'Sound advice from Mick Jagger.\n\n""STAY HOME...",131,2014-11-01 09:19:50,20,473,Twitter for Android,0,0
1,1246172801192488960,2020-04-03 20:28:43,b'This generation of kids will never take for ...,105,2012-10-09 16:20:40,22661,10322,Twitter for iPhone,0,0
2,1246172791432450048,2020-04-03 20:28:40,b'hey guys there I am again .... but annoyed \...,137,2014-05-13 16:21:31,1658,9,Instagram,0,0
3,1246172785715621888,2020-04-03 20:28:39,b'Comes to something when you empty the bins i...,131,2011-10-19 22:19:52,4661,4668,Twitter for Android,0,0
4,1246172732275847168,2020-04-03 20:28:26,b'Lockdown is not shutdown. We are here to ser...,140,2019-06-02 05:19:30,1,2,Twitter for iPhone,0,0

In [31]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
user_id                 100000 non-null int64
tweet_created_time      100000 non-null object
tweet_text              100000 non-null object
tweet_length            100000 non-null int64
user_created_at         100000 non-null object
user_followers_count    100000 non-null int64
user_friends_count      100000 non-null int64
twitter_source          100000 non-null object
tweet_likes             100000 non-null int64
tweet_retweets          100000 non-null int64
dtypes: int64(6), object(4)
memory usage: 7.6+ MB

Utility function to clean the text in a tweet by removing links and special characters using regex.

def clean_tweet(tweet):
    
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", p.clean(tweet)).split())

In [32]:
raw_data['clean_text'] = np.array([ p.clean(tweet) for tweet in raw_data['tweet_text'] ])

In [33]:
raw_data['clean_text'] = np.array([ re.sub(r'(@[A-Za-z0-9]+)|([^0)-9A-Za-z \t])|(\w+:\/\/\S+)', "", tweet) for tweet in raw_data['clean_text'] ])

In [34]:
raw_data['clean_text'] = np.array([ tweet[1:] for tweet in raw_data['clean_text'] ])

In [35]:
raw_data['clean_text'].head()

0    Sound advice from Mick Jagger.nnSTAY HOME, PAR...
1    This generation of kids will never take for gr...
2    hey guys there I am again .... but annoyed xf0...
3    Comes to something when you empty the bins in ...
4    Lockdown is not shutdown. We are here to serve...
Name: clean_text, dtype: object

In [ ]:
for tweet in raw_data['clean_text']:
    print(tweet[0])

In [36]:
raw_data['clean_text'].head()

0    Sound advice from Mick Jagger.nnSTAY HOME, PAR...
1    This generation of kids will never take for gr...
2    hey guys there I am again .... but annoyed xf0...
3    Comes to something when you empty the bins in ...
4    Lockdown is not shutdown. We are here to serve...
Name: clean_text, dtype: object

In [37]:
raw_data['tweet_text'].head()

0    b'Sound advice from Mick Jagger.\n\n"STAY HOME...
1    b'This generation of kids will never take for ...
2    b'hey guys there I am again .... but annoyed \...
3    b'Comes to something when you empty the bins i...
4    b'Lockdown is not shutdown. We are here to ser...
Name: tweet_text, dtype: object

In [38]:
raw_data['tweet_text'] = raw_data['clean_text']

In [40]:
raw_data['tweet_text'].head()

0    Sound advice from Mick Jagger.nnSTAY HOME, PAR...
1    This generation of kids will never take for gr...
2    hey guys there I am again .... but annoyed xf0...
3    Comes to something when you empty the bins in ...
4    Lockdown is not shutdown. We are here to serve...
Name: tweet_text, dtype: object

In [51]:
raw_data = raw_data.drop(['clean_text'], axis=1)

In [52]:
raw_data.head()

,user_id,tweet_created_time,tweet_text,tweet_length,user_created_at,user_followers_count,user_friends_count,twitter_source,tweet_likes,tweet_retweets
0,1246172809295880192,2020-04-03 20:28:45,"Sound advice from Mick Jagger.nnSTAY HOME, PAR...",131,2014-11-01 09:19:50,20,473,Twitter for Android,0,0
1,1246172801192488960,2020-04-03 20:28:43,This generation of kids will never take for gr...,105,2012-10-09 16:20:40,22661,10322,Twitter for iPhone,0,0
2,1246172791432450048,2020-04-03 20:28:40,hey guys there I am again .... but annoyed xf0...,137,2014-05-13 16:21:31,1658,9,Instagram,0,0
3,1246172785715621888,2020-04-03 20:28:39,Comes to something when you empty the bins in ...,131,2011-10-19 22:19:52,4661,4668,Twitter for Android,0,0
4,1246172732275847168,2020-04-03 20:28:26,Lockdown is not shutdown. We are here to serve...,140,2019-06-02 05:19:30,1,2,Twitter for iPhone,0,0

# Write to csv

In [54]:
raw_data.to_csv('data/processed/processed_data.csv',index=False)

# Lower case

In [ ]:
raw_data['tweet_text'] = raw_data['tweet_text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
raw_data['tweet_text'].head()

# Removing Punctuation

In [ ]:
raw_data['tweet_text'] = raw_data['tweet_text'].str.replace('[^\w\s]','')
raw_data['tweet_text'].head()

# Rare words removal

In [ ]:
freq = pd.Series(' '.join(raw_data['tweet_text']).split()).value_counts()[-10:]
freq = list(freq.index)
raw_data['tweet_text'] = raw_data['tweet_text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
raw_data['tweet_text'].head()

# Spelling correction

In [ ]:
from textblob import TextBlob
raw_data['tweet_text'][:5].apply(lambda x: str(TextBlob(x).correct()))

# Lemmatization
we usually prefer using lemmatization over stemming

In [ ]:
from textblob import Word
raw_data['tweet_text'] = raw_data['tweet_text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
raw_data['tweet_text'].head()

In [ ]:
blob = TextBlob("Analytics Vidhya is a great platform to learn data science.")
for np in blob.noun_phrases:
 print (np)