In [106]:
import pandas as pd     
import numpy as np

In [107]:
import preprocessor as p
import re

#from preprocessor.api import clean, tokenize, parse

In [108]:
raw_data = pd.read_csv('data/raw/scomo.csv')

In [109]:
raw_data.head()

,user_id,tweet_created_time,tweet_text,tweet_length,user_created_at,user_followers_count,user_friends_count,twitter_source,tweet_likes,tweet_retweets
0,1248114682293940224,2020-04-09 05:05:03,b'@BelindaJones68 @Hillsong @ScottMorrisonMP @...,128,2009-03-23 01:50:11,1384,1300,Twitter Web App,0,0
1,1248114657107120128,2020-04-09 05:04:57,b'@Ctl_Alt_Del @cscviews @ScottMorrisonMP Chin...,99,2011-12-27 14:33:19,221,209,Twitter for iPhone,0,0
2,1248114627562487809,2020-04-09 05:04:50,b'@Ctl_Alt_Del @ScottMorrisonMP Wants to keep ...,103,2015-01-18 11:21:26,1296,1921,Twitter for Android,0,0
3,1248114604963590144,2020-04-09 05:04:45,b'@FBIAgentsAssoc @FBIWFO @ScottMorrisonMP(Pt1...,126,2020-02-07 21:56:08,5,27,Twitter for Android,0,0
4,1248114586466676737,2020-04-09 05:04:40,b'@BelindaJones68 @ScottMorrisonMP @BrianCHous...,102,2011-02-25 02:45:04,1856,1293,Twitter for Android,0,0

In [110]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43553 entries, 0 to 43552
Data columns (total 10 columns):
user_id                 43553 non-null int64
tweet_created_time      43553 non-null object
tweet_text              43553 non-null object
tweet_length            43553 non-null int64
user_created_at         43553 non-null object
user_followers_count    43553 non-null int64
user_friends_count      43553 non-null int64
twitter_source          43553 non-null object
tweet_likes             43553 non-null int64
tweet_retweets          43553 non-null int64
dtypes: int64(6), object(4)
memory usage: 3.3+ MB

In [99]:
raw_data['clean_text'] = np.array([ p.clean(tweet) for tweet in raw_data['tweet_text'] ])

In [100]:
raw_data['clean_text'] = np.array([ re.sub(r'(@[A-Za-z0-9]+)|([^0)-9A-Za-z \t])|(\w+:\/\/\S+)', "", tweet) for tweet in raw_data['clean_text'] ])

In [101]:
raw_data['clean_text'] = np.array([ tweet[1:] for tweet in raw_data['clean_text'] ])

In [104]:
raw_data['tweet_text'].head()

0    b'My new work pants #lockdownaustralia \xf0\x9...
1    b'Oh man, we miss being in our offices in Nort...
2    b'Spent time planting my veggie garden and dug...
3    b'Stay home and stay safe everyone. #StayHomeA...
4    b"Think about it. What's 2 weeks in complete l...
Name: tweet_text, dtype: object

In [105]:
raw_data['clean_text'].head()

0                      My new work pants xf0x9fx98x82
1    Oh man, we miss being in our offices in Northb...
2    Spent time planting my veggie garden and dug u...
3                   Stay home and stay safe everyone.
4    Think about it. Whats weeks in complete lockdo...
Name: clean_text, dtype: object

In [88]:
raw_data['tweet_text'] = raw_data['clean_text']

In [89]:
raw_data['tweet_text'].head()

0                      My new work pants xf0x9fx98x82
1    Oh man, we miss being in our offices in Northb...
2    Spent time planting my veggie garden and dug u...
3                   Stay home and stay safe everyone.
4    Think about it. Whats weeks in complete lockdo...
Name: tweet_text, dtype: object

In [90]:
raw_data = raw_data.drop(['clean_text'], axis=1)

In [91]:
raw_data.head()

,user_id,tweet_created_time,tweet_text,tweet_length,user_created_at,user_followers_count,user_friends_count,twitter_source,tweet_likes,tweet_retweets
0,1246775237133230089,2020-04-05 12:22:35,My new work pants xf0x9fx98x82,62,2019-04-06 10:15:46,349,650,Twitter for iPhone,4,0
1,1246773530680754179,2020-04-05 12:15:48,"Oh man, we miss being in our offices in Northb...",133,2012-10-11 03:32:19,921,249,Twitter for iPhone,0,0
2,1246773513177849856,2020-04-05 12:15:44,Spent time planting my veggie garden and dug u...,138,2015-07-10 01:23:49,482,559,Twitter for iPhone,0,0
3,1246770742785478656,2020-04-05 12:04:43,Stay home and stay safe everyone.,134,2011-04-02 07:02:15,300,727,Twitter for Android,0,0
4,1246770139061575680,2020-04-05 12:02:19,Think about it. Whats weeks in complete lockdo...,90,2019-06-13 00:18:44,1,31,Twitter for Android,0,0

# Write to csv

In [92]:
raw_data.to_csv('data/processed/processed_data.csv',index=False)

# Lower case

In [111]:
raw_data['tweet_text'] = raw_data['tweet_text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
raw_data['tweet_text'].head()

0    b'@belindajones68 @hillsong @scottmorrisonmp @...
1    b'@ctl_alt_del @cscviews @scottmorrisonmp chin...
2    b'@ctl_alt_del @scottmorrisonmp wants to keep ...
3    b'@fbiagentsassoc @fbiwfo @scottmorrisonmp(pt1...
4    b'@belindajones68 @scottmorrisonmp @brianchous...
Name: tweet_text, dtype: object

# Removing Punctuation

In [112]:
raw_data['tweet_text'] = raw_data['tweet_text'].str.replace('[^\w\s]','')
raw_data['tweet_text'].head()

0    bbelindajones68 hillsong scottmorrisonmp nswpo...
1    bctl_alt_del cscviews scottmorrisonmp china do...
2    bctl_alt_del scottmorrisonmp wants to keep up ...
3    bfbiagentsassoc fbiwfo scottmorrisonmppt10citi...
4    bbelindajones68 scottmorrisonmp brianchouston ...
Name: tweet_text, dtype: object

# Rare words removal

In [113]:
freq = pd.Series(' '.join(raw_data['tweet_text']).split()).value_counts()[-10:]
freq = list(freq.index)
raw_data['tweet_text'] = raw_data['tweet_text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
raw_data['tweet_text'].head()

0    bbelindajones68 hillsong scottmorrisonmp nswpo...
1    bctl_alt_del cscviews scottmorrisonmp china do...
2    bctl_alt_del scottmorrisonmp wants to keep up ...
3    bfbiagentsassoc fbiwfo scottmorrisonmppt10citi...
4    bbelindajones68 scottmorrisonmp brianchouston ...
Name: tweet_text, dtype: object

# Spelling correction

In [114]:
from textblob import TextBlob
raw_data['tweet_text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    bbelindajones68 hillsong scottmorrisonmp nswpo...
1    bctl_alt_del cscviews scottmorrisonmp china do...
2    bctl_alt_del scottmorrisonmp wants to keep up ...
3    bfbiagentsassoc fbiwfo scottmorrisonmppt10citi...
4    bbelindajones68 scottmorrisonmp brianchouston ...
Name: tweet_text, dtype: object

# Lemmatization
we usually prefer using lemmatization over stemming

In [115]:
from textblob import Word
raw_data['tweet_text'] = raw_data['tweet_text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
raw_data['tweet_text'].head()

0    bbelindajones68 hillsong scottmorrisonmp nswpo...
1    bctl_alt_del cscviews scottmorrisonmp china do...
2    bctl_alt_del scottmorrisonmp want to keep up t...
3    bfbiagentsassoc fbiwfo scottmorrisonmppt10citi...
4    bbelindajones68 scottmorrisonmp brianchouston ...
Name: tweet_text, dtype: object

In [ ]:
blob = TextBlob("Analytics Vidhya is a great platform to learn data science.")
for np in blob.noun_phrases:
 print (np)